<div class="container">
    <div class="row justify-content-md-center">
        <div class="card col-sm-6 col-sm-10" id="color-detail-view">
            <div [style.backgroundColor]="pickedColor" class="color" style="height: 400px;"></div>
            <div class="container">
                <p class="color-name">{{pickedColor}}</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div *ngFor="let color of randomColors" (click)="switchColor(color)" class="card details" style="width:100px;height: 100px; padding: 0; text-align: center;">
            <div [style.backgroundColor]="color" class="color"></div>
            <div class="container">
                <p class="color-name">{{color}}</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-bottom:30px;">
        <button [routerLink]="['']" class="side-btn">Go Back to Full List</button>
    </div>
</div>