<div class="row">
    <div class="card">
        <div [style.backgroundColor]="pickedColor" class="color"></div>
        <div class="container">
            <p class="color-name">{{pickedColor}}</p>
        </div>
    </div>
</div>

<div class="row">
    <div *ngFor="let color of randomColors" (click)="switchColor(color)" class="card details">
        <div [style.backgroundColor]="color" class="color"></div>
        <div class="container">
            <p class="color-name">{{color}}</p>
        </div>
    </div>
</div>

<button [routerLink]="['']" id="go-back-btn">Go Back to Full List</button>