<div class="row">
    <div *ngFor="let color of displayArr" class="card">
        <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
        <div [style.backgroundColor]="color.hexString" class="color"></div>
        <div class="container">
            <p class="color-name">{{color.hexString}}</p>
        </div>
    </div>
</div>
<div class="row">
    <ol id="page-nums">
        <li *ngFor="let number of pageArr" id="pagination" (click)="changePage(number)">{{number}}</li>
    </ol>
</div>