<div class="row" id="display">
    <div *ngFor="let color of displayArr" class="card">
        <div [style.backgroundColor]="color.hexString" class="color"></div>
        <div class="container">
            <p class="color-name">{{color.hexString}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col" id="page-nums">
        <p style="display: inline; margin-right: 10px; font-size: 20px; cursor: pointer;" *ngFor="let number of pageArr" (click)="changePage(number); underline(number, pageArr);" [id]="'p' + number">{{number}}</p>
    </div>
    <div class="col"></div>
</div>