body {
    font-family: 'Source Serif Pro', serif;
}

#sidenav {
    background-color: lightgray;
}

#navbar {
    height: 60px;
}

#logo {
    height: 50%;
    margin-left: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}

.wrapper {
    display: inline;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

#pagination {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
}

div.color {
    height: 200px;
    margin: 1px 1px 0px 1px;
}

.color-name {
    margin-bottom: 0px;
    margin-top: 9px;
}

#page-nums {
    margin: 40px 0px 50px 0px;
}

.details {
    cursor: pointer;
}

#display {
    margin-left: 50px;
}

#sideview {
    margin-top: 58px;
}

.side-btn {
    background-color: white;
    width: 165px;
    height: 47px;
    border: 0.5px black solid;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.nav {
    margin-left: 20px;
    margin-top: 26px;
}

.nav li {
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
}

#search {
    border-radius: 10px;
    width: 210px;
    height: 38px;
    margin-right: 22px;
}

input::placeholder {
    /* Firefox, Chrome, Opera */
    padding-left: 20px;
}

.color {
    border-radius: 10px 10px 0 0;
}

#color-detail-view {
    height: 400px;
    padding: 0;
}